body {
    background-color: black;
    color: white;
}

canvas {
    padding: 0;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("background.jpg");
}

#currentGame {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
    font-weight: bold;
}

#previousGames {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    max-width: 300px;
}

.arrows {
    padding: 0;
    padding-top: 100px;
    margin: auto;
    position: absolute;
    top: 730px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 600px;
    align-items: center;
    text-align: center;
}

.left_img {
    max-height: 50px;
    transform: rotate(180deg);
}

.right_img {
    max-height: 50px;
}

.left_button {
    background-color: black;
}

.right_button {
    background-color: black;
}

.buttons {
    padding: 0;
    position: absolute;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 600px;
    align-items: center;
    text-align: center;
    height: 30px;
}

#startButton {
    margin: auto;
    width: 100px;
}

#stopButton {
    margin: auto;
    width: 100px;
}